.has-tooltip {
    cursor: help;
}

.mdl-dialog.card {
    width: 500px;
    padding: 0;
    background: transparent;
}

.mdl-dialog .mdl-card {
    overflow: visible;
    width: 100%;
}

/*.mdl-dialog [data-id-spelldetail=description] {*/
    /*max-height: 3.5em;*/
    /*overflow-y: scroll;*/
/*}*/

#spell-list [data-action-dialog] {
    cursor: pointer;
}

#class-list label span {
    text-transform: capitalize;
}

.left {
    float: left;
}

.left.clear {
    clear: left;
}

.right {
    float: right;
}

.right.clear {
    clear: right;
}

.clear {
    clear: both;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

[data-id-spelldetail="components"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[data-id-spelldetail="components"] li:not(:last-of-type) {
    padding-right: .5em;
}

[data-id-spelldetail="components"] li:not(:last-of-type)::after {
    content: ','
}
