@media print {
    body {
        background: white;
        font-size: 11pt;
        box-sizing: border-box;
        padding: 1em;
    }

    body > .printonly {
        display: block;
    }

    body > :not(.printonly) {
        display: none;
    }

    th {
        white-space: nowrap;
        padding: 1em 1em 1em 0;
        text-align: left;
    }

    td {
        vertical-align: top;
    }

    .spell-description p {
        font-size: 8pt;
        line-height: 10pt;
        margin: .75em 0;
        color: gray;
    }

    .spell-description br {
        display: none;
    }

    #details {
        font-size: 8pt;
        margin: 0;
        columns: 3;
        padding: 0;
        list-style-type: none;
    }
}
